<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='second-fotter-text'>mukoryo-finder.com</p>
  </div>
  <%#= image_tag "furima-logo-color.png", class:"second-fotter-logo"%>
</footer>